.sign-up {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row;
}

.sign-up .learn-more {
    display: none;
}

.sign-up-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.sign-up-wrapper h1 {
    text-align: center;
        font-size: 1.4em;
        font-weight: 400;
        color: #515559;
        text-align: center;
        line-height: 1.8em;
}
form {
    text-align: center;
    width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
}
fieldset {
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;

}

.field {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.field-icon {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.field-content {
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

.field-status {
    width: 20px;
    text-align: center;
}

label {
    display: block;
}

input {
    width: 100%;
    border: 0px;
    font-size: 1em;
    outline: none;
    margin-top: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;


}

.lower {
  text-transform: lowercase;
}

#sign-up-btn {
    margin-top: 40px;
        width: 60%;
}

button[type="button"] {
    border: none;
    border: 1px solid #673AB7;
    border-radius: 100px;
    padding: 15px 20px 15px 20px;
    background: transparent;
    color: #673AB7;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.disabled {
    border: 1px solid #ccc !important;
    color: #ccc !important;
    pointer-events: none;
}

/************** check sign animations **************/
@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

#successbox {
    text-align: center;
    width: 100%;
    display: none;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

#successbox > h1:before, #successbox > h1:after { background: #cad8a9; }

.inlinesvg .svg svg {
    display: inline
}

#errorbox {
    border: 1px solid #F44336;
    width: 68%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 20px 10px 20px 10px;
    border-radius: 3px;
    box-sizing: border-box;
    display: none;
}

#errorbox li {
    list-style-type: none;
    font-size: 0.8em;
    max-width: 100%;
    margin-left: 20px;
    text-align: left;
    color: #F44336;
}

/* .svg img {
    display: none
} */

.icon-success svg path {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards
}

@media (min-width: 768px) {
    button[type="button"] {
        width: 60%;
    }
    .sign-up {
        width: 100%;
        height:100%;
        display: flex;
        flex-flow: row;
    }
    .sign-up .learn-more {
        display: flex;
        width: calc(100% - 25em);
        height: 100%;
        background-color: #F6F8FA;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sign-up .sign-up-wrapper {
        width: 25em;
        height: 100%;
    }
    .field {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
