html, body {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    height: 100%;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

    h1 {
        font-size: 2.2em;
        font-weight: 400;
        line-height: 1.8em;
    }

}

@media (min-width: 1200px) {
}
