h1 {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 0px;
    text-align: center;
}

p {
    font-size: 1em;
    color: rgba(38, 38, 38, 0.8);
    text-align: center;
}

.signup {
    text-align: center;
}

.signup form {
    margin-top: 50px;
}

.signup form .field {
    text-align: left;
}

.signup form .call-to-action div p {
    font-size: 0.8em;
    color: rgba(38, 38, 38, 1);
}

.signup form .call-to-action div p a {
    text-decoration: none;
    color: #4776E6;
}

.signup form .call-to-action button.btn {
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    font-size: 0.8em;
    color: rgba(38,38,38,0.5);
    margin: 0px 15px 0px 15px;
}

footer a:hover {
    text-decoration: underline;
}

@media (min-width: 400px) {
    .signup {
        max-width: 400px;
        margin: auto;
    }
}

@media (min-width: 960px) {

    body {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .signup {
        max-width: 960px;
        margin: auto;
        margin-top: 100px;
        text-align: center;
    }

    .signup .container {
        height: 100%;

    }

    .signup form {
        max-width: 550px;
        margin: 50px auto 0px auto;
        text-align: center;
    }

    .signup form fieldset .fields-container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }

    .signup form fieldset .field {
        width: 50%;
        display: flex;
        flex-flow: column;
        padding: 0px 10px 0px 10px;
        box-sizing: border-box;
    }

    .signup form fieldset .field label {
        text-align: left;
    }

    .signup form .call-to-action {
        width: 100%;
        display: flex;
        flex-flow: row;
        margin-top: 20px;
    }

    .signup form .call-to-action div {
        width: 50%;
        padding: 0px 10px 0px 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .signup form .call-to-action button.btn {
        width: 100%;
        margin-top: 0px;
    }

    .signup form .call-to-action div p {
        text-align: left;
    }

}
