html, body {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    height: 100%;
    font-family: 'Helvetica';
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

form {
    padding: 0px 20px 0px 20px;
}

form fieldset {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0px;
    margin: 0px;
}

form fieldset label {
    font-size: 1em;
    color: rgba(38, 38, 38, 0.8);
}

form fieldset input {
    width: 100%;
    padding: 12px 40px 13px 15px;
    margin: 10px auto 15px auto;
    border-radius: 3px;
    border: 1px solid rgba(38, 38, 38, 0.1);
    font-size: 1em;
    font-weight: 400;
    color: rgba(38, 38, 38, 1);
    outline: none;
    box-sizing: border-box;
    background: none;
}

form fieldset input.success {
    background-image: url('../images/success.svg');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: calc(100% - 10px);
}

form fieldset input.warning {
    background-image: url('../images/warning.svg');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: calc(100% - 10px);
}

form fieldset input.error {
    background-image: url('../images/error.svg');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: calc(100% - 10px);
}

form fieldset input:focus {
    border: 1px solid rgba(38, 38, 38, 0.5);
}

form fieldset input.success:focus {
    border: 1px solid #00E676;
}

form fieldset input.warning:focus {
    border: 1px solid #EF6C00;
}

form fieldset input.error:focus {
    border: 1px solid #FF1744;
}

form fieldset .input-container {
    width: 100%;
    margin: 10px auto 15px auto;
    border-radius: 3px;
    border: 1px solid rgba(38, 38, 38, 0.1);
    font-size: 1em;
    font-weight: 400;
    color: rgba(38, 38, 38, 1);
    outline: none;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

form fieldset .input-container.active {
    border: 1px solid rgba(38, 38, 38, 0.5);
}

form fieldset .input-container > input {
    width: 85%;
    padding: 12px 15px 13px 15px;
    margin: 0px;
    border-radius: 3px;
    border: none;
    font-size: 0.8em;
    font-weight: 400;
    color: rgba(38, 38, 38, 1);
    outline: none;
    box-sizing: border-box;
}

form fieldset .input-container > .input-status {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form fieldset .input-container > .input-status > img {
    height: 15px;
    width: 15px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.btn {
    width: 100%;
    border: 1px solid #5764C6;
    border-radius: 3px;
    background-color: #5764C6;
    padding: 15px 15px 15px 15px;
    box-shadow: none;
    font-size: 1em;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.btn.disabled {
    width: 100%;
    border: 1px solid rgba(38,38,38,0.3);
    border-radius: 3px;
    background-color: transparent;
    padding: 15px 15px 15px 15px;
    box-shadow: none;
    font-size: 1em;
    color: rgba(38,38,38,0.5);
    font-weight: 500;
    cursor: default;
}

.hidden {
  display: none;
}

.green {
  color: #43C47A;
}

/* Success icon animation */
@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

.icon-success {
  margin-top: 2rem;
}

.icon-success svg path {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards
}
